/*----------------------------------------
   Navbar
------------------------------------------*/
.navbar .header-search-wrapper {
    position: relative;

    display: inline-block;

    width: -webkit-calc(100% - 600px);
    width: -moz-calc(100% - 600px);
    width: calc(100% - 600px);
    height: 40px;
    margin: 10px auto 0 275px;

    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.navbar .header-search-wrapper i {
    font-size: 24px;
    line-height: 32px !important;

    position: absolute;
    top: 6px;
    left: 24px;

    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}

.navbar .nav-collapsed .header-search-wrapper {
    margin: 10px auto 0 100px;
}

.navbar input.header-search-input {
    font-size: 16px;
    font-weight: 400;

    display: block;

    width: 87%;
    height: 24px;
    padding: 8px 8px 8px 72px;

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    border: none;
    border-radius: 3px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.navbar input.header-search-input:hover {
    background: rgba(255, 255, 255, 0.5);
}
.navbar input.header-search-input:focus {
    color: #333;
    border-bottom: none !important;
    background: #fff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar .header-search-wrapper-focus i {
    color: #444;
}

.navbar .header-search-input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

.navbar .header-search-input::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

.navbar .header-search-input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

.navbar .header-search-input:focus::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #333;
}

.navbar .header-search-input:focus::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #333;
}

.navbar .header-search-input:focus::placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #333;
}

.navbar .header-search-input:focus:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #333;
}

.navbar .header-search-input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

.navbar .header-search-input::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

.navbar .header-search-input::placeholder {
    font-size: 16px;
    font-weight: 400;

    color: #fff;
}

nav.display-none.search-sm
    .nav-wrapper
    form
    .input-field
    input.search-box-sm:not(:focus) {
    color: #fff;
}
.navbar--theme {
    background: #6b4994;
}
@media only screen and (max-width: 600px) {
    .navbar .nav-wrapper .dropdown-content {
        left: 0 !important;

        width: 100% !important;
    }
    .notification-button i {
        font-size: 29px;

        position: relative;
        top: 12px;
    }
    .search-button i {
        position: relative;
        top: 6px;

        height: 0;
    }
    .search-sm-close {
        position: absolute !important;
        top: 12px !important;
    }
    .search-sm-icon {
        position: absolute !important;
        top: 14px !important;
    }
}
