.navbar .toggle-fullscreen,
.navbar .notification-button
{
    line-height: 1;
}

.navbar .notification-badge {
    font-family: 'Muli', sans-serif;
    position: relative;
    top: -20px;
    right: 5px;
    margin: 0 -.8em;
    padding: 2px 5px;
    color: #fff;
    border-radius: 50%;
    background-color: #e53e9b;
    -webkit-box-shadow: 0 0 10px 0 #e53e9b;
    box-shadow: 0 0 10px 0 #e53e9b;
}
.navbar #notifications-dropdown h5
{
    font-size: 1rem;
    font-weight: 500;

    text-transform: capitalize;
}

.navbar #notifications-dropdown li
{
    font-size: 1rem;

    padding: 8px 16px;
}
.navbar #notifications-dropdown li > a
{
    font-size: 1.1rem;
    font-weight: 300;

    padding: 0;
}
.navbar #notifications-dropdown li > a > span
{
    font-size: 1.2rem;

    position: relative;
    top: 4px;

    display: inline-block;

    margin-right: 5px;
}
.navbar #notifications-dropdown li > time
{
    font-size: .8rem;
    font-weight: 400;

    margin-left: 38px;
}
.navbar #notifications-dropdown li.divider
{
    padding: 0;
}