
/*pagination */
.theme--pagination{
    margin-top: -2px;
    margin-bottom: 0px;
}
.theme--pagination li{
    height: 24px;
    line-height: 24px;
}
.theme--pagination li.active {
    background-color:#6b4994;
}
.theme--pagination li a {
    font-size: 12px;
    line-height:24px;
}
.pagination--top{
    display: inline;
}