/*----------------------------------------
    Breadcrumb
------------------------------------------*/
#breadcrumbs-wrapper {
  padding: 20px 0;

  background: transparent;
}
#breadcrumbs-wrapper .breadcrumbs-btn {
  top: 24px;
}
#breadcrumbs-wrapper h5.breadcrumbs-header {
  font-size: 1.64rem;
  line-height: 1.804rem;

  margin: 1.5rem 0 0 0;
}
#breadcrumbs-wrapper .breadcrumbs {
  margin: 15px 0;
  padding: 0;

  list-style: none;
}
#breadcrumbs-wrapper .breadcrumbs > li {
  display: inline-block;
}
#breadcrumbs-wrapper .breadcrumbs > li + li::before {
  font-family: 'Material Icons';

  position: relative;
  top: 3px;

  padding: 0 5px 0 4px;

  content: 'keyboard_arrow_right';

  color: #bdbdbd;
}
#breadcrumbs-wrapper .breadcrumbs .active {
  font-weight: normal;

  color: #9e9e9e;
}
#breadcrumbs-wrapper .breadcrumbs-title {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
#breadcrumbs-wrapper .breadcrumbs-nav {
  margin: 8px 0 9px;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-title,
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs {
  display: inline;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-left {
  position: relative;
  top: 8px;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-title {
  padding-right: 20px;

  border-right: 1px solid #bdbdbd;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs {
  padding-left: 20px;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-btn {
  top: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #breadcrumbs-wrapper .breadcrumbs > li + li::before {
    top: 0;

    width: 0;

    content: '/';
  }
}
